canvas{
    border: 1px solid #000;
    background-color:#ebebeb; 
    cursor:crosshair;
    border-radius:5px;
}
.icon{
  height:30px;
  width:30px;
}

#text{
  position: fixed;
}

#control{
  position: absolute;
  top:10px;
  right:30px;
}
.starbo{
  right:0px;
  bottom: 0px;
  height:250px;
  width: 250px;
}
/*
#upload{
  top: 150px;
  right:100px;
}
#text{
  visiibility: hidden;
  top :50px;
  left:50px;
}

.button {
  float: left;
  margin-top: 10px;
  border: 2px solid #000;
  border-radius: 5px 10px 5px 5px;
  text-align: center;
  background-color: snow;
}*/